[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
MimeType=application/x-ms-dos-executable;
Actions=openWithWine
X-KDE-Priority=TopLevel
X-KDE-Submenu=XNL Ft. Wine

[Desktop Action openWithWine]
Name=Open with Wine
Icon=wine
Exec=env WINEPREFIX="$HOME/.wine_xnlft" wine "%f"
