[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
MimeType=application/x-ms-dos-executable;
Actions=createWineShortcut
X-KDE-Priority=TopLevel
X-KDE-Submenu=XNL Ft. Wine

[Desktop Action createWineShortcut]
Name=Create Wine Launcher (Shortcut)
Icon=wine
Exec=bash -c 'name="$(basename "%f")"; dest="%d/${name}.desktop"; esc_target=$(printf "%s" "%f" | tr -d "\n"); printf "[Desktop Entry]\nType=Application\nName=%s\nExec=env WINEPREFIX=%s wine "\""%s"\"" \nIcon=wine\nTerminal=false\nX-KDE-SubstituteUID=false\n" "$name" "$HOME/.wine_xnlft" "$esc_target" > "$dest"; chmod +x "$dest"'
