[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
MimeType=application/x-ms-dos-executable;
Actions=AopenWithWine;BcreateWineShortcut;CsetWineWinXP;DsetWineWin7;EsetWineWin10;FStartWineConfig
X-KDE-Submenu=XNL Ft. Wine

[Desktop Action AopenWithWine]
Name=Start with Wine
Icon=wine
Exec=env WINEPREFIX="$HOME/.wine_xnlft" wine "%f"

[Desktop Action BcreateWineShortcut]
Name=Create Wine Launcher (Shortcut)
Icon=wine
Exec=bash -c 'name="$(basename "%f")"; dest="%d/${name}.desktop"; esc_target=$(printf "%s" "%f" | tr -d "\n"); printf "[Desktop Entry]\nType=Application\nName=%s\nExec=env WINEPREFIX=%s wine "\""%s"\"" \nIcon=wine\nTerminal=false\nX-KDE-SubstituteUID=false\n" "$name" "$HOME/.wine_xnlft" "$esc_target" > "$dest"; chmod +x "$dest"'

[Desktop Action CsetWineWinXP]
Name=Set Wine to Windows XP Mode
Icon=wine
Exec=bash -c 'env WINEPREFIX="$HOME/.wine_xnlft" winetricks winxp'


[Desktop Action DsetWineWin7]
Name=Set Wine to Windows 7 Mode
Icon=wine
Exec=bash -c 'env WINEPREFIX="$HOME/.wine_xnlft" winetricks win7'

[Desktop Action EsetWineWin10]
Name=Set Wine to Windows 10 Mode
Icon=wine
Exec=bash -c 'env WINEPREFIX="$HOME/.wine_xnlft" winetricks win10'

[Desktop Action FStartWineConfig]
Name=Open Wine Configuration
Icon=wine
Exec=bash -c 'env WINEPREFIX="$HOME/.wine_xnlft" winecfg'
