[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
MimeType=application/x-ms-dos-executable;
Actions=setWineWin7
X-KDE-Priority=TopLevel
X-KDE-Submenu=XNL Ft. Functions

[Desktop Action setWineWin7]
Name=Set Wine to Windows 7 Mode
Icon=wine
Exec=bash -c 'env WINEPREFIX="$HOME/.wine_xnlft" winetricks win7'

