[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
MimeType=application/x-executable;application/x-iso9660-appimage;inode/directory;
Actions=createDesktopShortcut
X-KDE-Priority=TopLevel
X-KDE-Submenu=XNL Ft. Functions

[Desktop Action createDesktopShortcut]
Name=Create Launcher (Shortcut)
Icon=application-x-desktop
Exec=bash -c 'target="%f"; name="$(basename "$target")"; dest="%d/$name.desktop"; if [ -d "$target" ]; then printf "[Desktop Entry]\nType=Link\nName=%s\nURL=%s\nIcon=folder-green\n" "$name" "$target" > "$dest"; else printf "[Desktop Entry]\nType=Application\nName=%s\nExec="\""%s"\""\nIcon=preferences-system-windows\nTerminal=false\nX-KDE-SubstituteUID=false\n" "$name" "$target" > "$dest"; fi; chmod +x "$dest"'
