[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
MimeType=application/x-ms-dos-executable;
Actions=setWineWinXP
X-KDE-Priority=TopLevel
X-KDE-Submenu=XNL Ft. Functions

[Desktop Action setWineWinXP]
Name=Set Wine to Windows XP Mode
Icon=wine
Exec=bash -c 'env WINEPREFIX="$HOME/.wine_xnlft" winetricks winxp'
